Flask==1.0.2
Flask-JWT-Extended==3.5.1
Flask-Login==0.4.1
flask-restplus==0.12.1
psycopg2==2.7.7
requests==2.21.0
SQLAlchemy==1.2.18
werkzeug==0.16.1
jsonschema==2.6.0
git+https://github.com/qwc-services/qwc-services-core.git@b9c4c8b21f1ffafe1eb55ec47b0197b7fd81c9c2#egg=qwc-services-core
